$theme-color: rgb(242, 242, 247);
$theme-color-translucent: rgba(52, 199, 89, 0.9);
$theme-text-color: black;
$theme-link-color: #000000;
$theme-link-color-hover: #777777;

$accent-color: rgb(52, 199, 89);
$accent-color-hover: rgb(36, 138, 61);

$normal-color: rgb(242, 242, 247);

$nominal-color: rgb(0, 122, 255);
$nominal-countable-color: rgb(50, 173, 230);
$verbal-color: rgb(255, 59, 48);
$adjectival-color: rgb(0, 199, 190);
$adverbial-color: rgb(175, 82, 222);
$sentence-color: rgb(174, 174, 178);